<div class = "row">
  <div class="col-1 my-5 text-left">
    <a class="btn btn-primary rounded-1" href="javascript:history.back()"> Back</a>
  </div>
  <div class="col-10 my-5 text-right p-0">
  </div>
  <div class="col-1 my-5 text-right p-0">
    <a class="btn btn-primary rounded-1  float-right" href="employee/new"> Add New Employee</a>
  </div>
</div>
<h1>Employees</h1>
<div class="container  mt-5 pt-5">
  <div class="row d-flex justify-content-center">
  <% if @emp.count == 0%>
  <div class="row">
  <div class="col-md-6   py-5">
  <h1 class="fw-bold">Oops . . . </h1>
  <h3>We couldn't find any records</h3>
  <h3>please add some</h3>
  </div>
  <div class="col-md-6">
<%= image_tag 'image1.png',class:"w-75"%>
  
  </div>
  </div>

  <% else %>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Job</th>
          <th scope="col">Salary</th>
          <th scope="col">Status</th>
          <th scope="col">Team</th>
          <th class = "text-center"scope="col">Links</th>
        </tr>
      </thead>
      <% for emp in @emp%>
        <tbody>
          <tr>
            <td><%= emp.id %></td>
            <td><%= emp.name %> </td>
            <td><%= emp.email %></td>
            <td> <%= emp.job %> </td>
            <td>  <%= emp.salary %> </td>
            <td>  <%= emp.employee_status %> </td>
            <td>   <% for i in Team.where(id:emp.teams_id)%><%=i.name%></br><%end%></td>
            <td><a class = "btn btn-primary p-1 py-0" href = "employee/<%=emp.id%>">Show</a></td>
            <td><a class = "btn btn-warning p-1 py-0"href = "employee/<%=emp.id%>/edit">edit</a></td>
            <td><%= button_to "Delete",{ action: "destroy", id: emp.id },
                                method: :delete, data: { confirm: "Are you sure?" } ,
                                class: "btn btn-danger p-1 py-0"%></td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
