
<div class="p-5 m-5">
  <h1 > Employee's Name : <%=@employee.name%> </h1>
  <h3 > Employee's ID : <%=@employee.id%> </h3>
  <h3 > Employee's Email : <%=@employee.email%> </h3>
    <h3 > Employee's Job : <%=@employee.job%> </h3>
  <h3 > Employee's Salary : <%=@employee.salary%> </h3>
  <h3 > Employee's Status : <%=@employee.employee_status%> </h3>
</div>