
<div class="p-5 m-5">
  <h1 > <%= t'employee.show.name'%>: <%=@employee.name%> </h1>
  <h3 > <%= t'employee.show.id'%>: <%=@employee.id%> </h3>
  <h3 > <%= t'employee.show.email'%> : <%=@employee.email%> </h3>
  <h3 > <%= t'employee.show.job'%>: <%=@employee.job%> </h3>
  <h3 > <%= t'employee.show.salary'%>: <%=@employee.salary%> </h3>
  <h3 > <%= t'employee.show.status'%> : <%=@employee.employee_status%> </h3>
</div>