<div class="col-1 mt-5 "><a class="btn btn-primary rounded-1" href="javascript:history.back()"> Back</a></div>
<h1>Division</h1>


<div class="container  mt-5 pt-5">
  <div class="row d-flex justify-content-center">
    <% for div in @div%>
      <div class="col-lg-3 mb-4">
        <div class="card text-dark">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title"><%= div.name %></h5>
            <p class="card-text">
              ID : <%= div.id %> </br>
              description : <%= div.description %> </br>
              teams : <%= div.teams %> </br>
              manager : <%= div.manager %> </br>
    </p>
  </div>
</div>
</div>
<% end %>
</div>
</div>
Division.create(name:'The HR Division',description:"this is the description of the target",teams:"EGY team",manager:"Ahmed")