<div class="p-5 m-5">
  <h1 > <%= t'division.show.name'%> : <%=@div.name%> </h1>
  <h3 > <%= t'division.show.id'%>: <%=@div.id%> </h3>
  <h3 > <%= t'division.show.description'%> : <%=@div.description%> </h3>
  <h3 > <%= t'division.show.members'%>: <% for i in Team.where(id:@div.id)%><%=i.name%>  <%end%> </h3>
  <h3 > <%= t'division.show.manager'%>: <%=@div.manager%> </h3>
</div>