
<div class = "row">
  <div class="col-1 my-5 text-left">
    <a class="btn btn-primary rounded-1" href="javascript:history.back()"> Back</a>
  </div>
  <div class="col-10 my-5 text-right p-0">
  
  </div>
  <div class="col-1 my-5 text-right p-0">
    <a class="btn btn-primary rounded-1  float-right" href="target/new"> Add New Target</a>
  </div>
</div>
<h1>Target</h1>


<div class="container  mt-5 pt-5">
  <div class="row d-flex justify-content-center">
  <% if @target.count == 0%>
  <div class="row">
  <div class="col-md-6   py-5">
  <h1 class="fw-bold">Oops . . . </h1>
  <h3>We couldn't find any records</h3>
  <h3>please add some</h3>
  </div>
  <div class="col-md-6">
<%= image_tag 'image1.png',class:"w-75"%>
  
  </div>
  </div>

  <% else %>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">description</th>
          <th scope="col">Start date</th>
          <th scope="col">Finish Date</th>
          <th scope="col">Team</th>
          <th scope="col">Status</th>
          <th class = "text-center"scope="col">Links</th>
        </tr>
      </thead>
      <% for tar in @target%>
        <tbody>
          <tr>
            <td><%= tar.id %></td>
            <td><%= tar.title %> </td>
            <td><%= tar.description %></td>
            <td> <%= tar.start_date %></td>
            <td> <%= tar.finish_date %> </td>
            <td> <%= Team.find(tar.team_id).name %> </td>
       
            <td>  <%= tar.status %> </td>
            <td><a class = "btn btn-primary p-1 py-0" href = "target/<%=tar.id%>">Show</a></td>
            <td><a class = "btn btn-warning p-1 py-0"href = "target/<%=tar.id%>/edit">edit</a></td>
            <td><%= button_to "Delete",{ action: "destroy", id: tar.id },
                                method: :delete, data: { confirm: "Are you sure?" } ,
                                class: "btn btn-danger p-1 py-0"%></td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <% end %>
  </div>
</div>