
<div class="p-5 m-5">
  <h1 > <%= t'target.show.title'%> : <%=@target.title%> </h1>
  <h3 > <%= t'target.show.id'%> : <%=@target.id%> </h3>
  <h3 > <%= t'target.show.description'%>: <%=@target.description%> </h3>
  <h3 > <%= t'target.show.start'%> : <%=@target.start_date%> </h3>
  <h3 > <%= t'target.show.finish'%> : <%=@target.finish_date%> </h3>
  <h3 > <%= t'target.show.team'%> :  <%if Team.where(id: @target.team_id).count == 0%> 
  No teams
  <%else%>
  <%=Team.where(id: @target.team_id)[0].name%>
  <%end%></h3>
  <h3 > <%= t'target.show.status'%> : <%=@target.status%> </h3>
</div>