<div class = "row">
  <div class="col-1 my-5 text-left">
    <a class="btn btn-primary rounded-1" href="javascript:history.back()"> Back</a>
  </div>
  <div class="col-10 my-5 text-right p-0">
  
  </div>
  <div class="col-1 my-5 text-right p-0">
    <a class="btn btn-primary rounded-1  float-right" href="javascript:history.back()"> Add New Team</a>
  </div>
</div>
<h1>Team</h1>


<div class="container  mt-5 pt-5">
  <div class="row d-flex justify-content-center">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Members</th>
          <th scope="col">Team Lead</th>
          <th class = "text-center"scope="col">Links</th>
        </tr>
      </thead>
      <% for team in @team%>
        <tbody>
          <tr>
            <td><%= team.id %></td>
            <td><%=team.name%></td>
            <td><%= team.description %> </td>
            <td><%= team.members %> </td>
            <td><%= team.team_lead %>  </td>
            <td><a class = "btn btn-primary p-1 py-0">show</a></td>
            <td><a class = "btn btn-warning p-1 py-0">edit</a></td>
            <td><a class = "btn btn-danger p-1 py-0">delete</a></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>


