<div class="p-5 m-5">
  <h1 > Teams's name : <%=@team.name%> </h1>
  <h3 > Teams's ID : <%=@team.id%> </h3>
  <h3 > Teams's Description : <%=@team.description%> </h3>
  <h3 > Teams's Members : <% for i in Employee.where(teams_id:@team.id)%><%=i.name%>  <%end%> </h3>
  <h3 > Teams's Team Lead : <%= Employee.find(@team.team_lead).name%> </h3>
</div>