<div class="p-5 m-5">
  <h1 > Teams's name : <%=@team.name%> </h1>
  <h3 > Teams's ID : <%=@team.id%> </h3>
  <h3 > Teams's Description : <%=@team.description%> </h3>
  <h3 > Teams's Members : <%=@team.members%> </h3>
  <h3 > Teams's Team Lead : <%=@team.team_lead%> </h3>
</div>