<div class="p-5 m-5">
<%if @user.avatar.representable?%>
<%= image_tag @user.avatar ,class:"w-25"%>
<%end%>
  <h1 > <%= t 'users.index.Name' %> : <%=@user.name%> </h1>
  <h3 > <%= t 'users.index.ID' %>: <%=@user.id%> </h3>
  <h3 > <%= t 'users.index.Email' %> : <%=@user.email%> </h3>
  <h3 > <%= t 'users.index.Password' %>: <%=@user.password%> </h3>
</div>
