<!DOCTYPE html>
<html>
  <head>
    <title>HR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <a class="text-white" href="/">
            <h3 class="float-md-start mb-0">HR</h3>
          </a>
          <nav class="nav nav-masthead justify-content-right float-md-end">
            <% if user_signed_in?%>
              <a href="users/sign_out" class="btn btn-primary mx-2"><%= t'button.signout'%> </a>
            <%else%>
              <a href="users/sign_in" class="btn btn-primary mx-2"><%= t'button.signin'%></a>
              <a href="users/sign_up" class="btn btn-primary mx-2"><%= t'button.signup'%> </a>
            <%end%>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <%= yield %>
      </main>
      <footer class="mt-auto ">
        <div class="position-absolute  bottom-0" >
          <a href="?locale=en"><%= image_tag 'en.svg.png',style:"max-width:30px;"%></a>
          <a href="?locale=ar"><%= image_tag 'ar.svg.png',style:"max-width:30px;"%></a>
        </div>
      </footer>
    </div>
  </body>
</html>
